extends layout

mixin tableRow(e)
    tr
        td #{e.date}
        td #{e.count}

block content
    body
        main#main
        h1.ui.center.aligned.header Daily Active Users
        .ui.container
            block content
                table.ui.celled.table.center.aligned
                    thead
                        tr
                            th Date
                            th Active Users
                    tbody
                        each e in event_list
                            +tableRow(e)
                    tfoot
                        tr
                            th(colspan='2')